.label-text {
	padding: 7px 0px 0px 20px !important;
}

.up-arrow {
	margin: 0px 0px 0px 15px;
}

.down-arrow {
	margin: 0px 0px 0px 15px;
}

.arrow-img {
	width : 20px;
	height : 15px;
	opacity: 0.5;
}

.arrow-div {
	right: 33px !important;
    position: absolute;
    top: 2px;
    z-index: 1;
    display: block;
    width: 20px;
    height: 30px;
}

.radio-left {
	left : -40px;
}

.radio-role-left {
	left : -20px;
}

.ui-widget-header .ui-icon {
	background-image: url("../../images/ui-icons_444444_256x240.png") !important;
}